<% provide(:title,"Teams") %>
<h1>Teams list</h1>
<% @teams.each do |team| %>
<%= link_to(team) do %>
<div class="span4 rounded">
	<h4><%= team.name %></h4>
	<p><%= team.description %> </p>
	<strong>Members</strong>
	<div>
		<ul>
		<% team.users do |user| %>
		<li><%= user.name %></li>
		<% end %>
		</ul>
	</div>
</div>
<% end %>
<% end %>


