<% provide(:title,@contact.name) %>

<h1><%=@contact.name %>  <small><%= @contact.identifier %></small></h1>
<address>
  <strong><%=@contact.email %></strong><br/>
  <%= @contact.mobile %><br />
</address>
