<% provide(:title,'Update the company profile') %>
<div class="row pagination-centered">
  <div class="span12">
    <%= render 'companies/form' , object: @company %>
  </div>
</div> <!-- /container -->