

<% provide(:title,"Companies") %>
<h1>Companies list</h1>
<% @companies.each do |company| %>
<%= link_to(company) do %>
<div class="span4 rounded">
	<h4><%= company.name %></h4>
	<p><%= company.location %> </p>
	
	<div>
		<ul>
		</ul>
	</div>
</div>
<% end %>
<% end %>


