<table border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
  </tr>
  <% @companies.each do |product| %>
  <tr>
    <td><%= product.id %></td>
    <td><%= product.name %></td>
    <td><%= product.address %></td>
    <td><%= product.phone %></td>
  </tr>
  <% end %>
</table>
