<% provide(:title,'422') %>

<h1 id="about-trackr">Can we have some IDs please</h1>
<p>
You do NOT have the permission for the action just attempted. 
Please contact the <%= link_to "admin" "users/1" %> for him. 
</p>
<hr/>