<% provide(:title,'500') %>

<h1 id="about-trackr">We have a problem.</h1>
<p>
We are either currently experiencing some problems, or you seem to have triggered a bug that caused a problem. If it persists, do <%= link_to "contact",contact_path %> us.
</p>
<hr/>