<% provide(:title,'About') %>
<h1 id="about-trackr">About Trackr</h1>

<p>Trackr /t'rækə(r)/ is a simple web application to track contact with companies written in Ruby on Rails.</p>

<h2 id="motivation">Motivation</h2>

<p>The motivation came out of the problem of knowledge transfer that was very much a problem at Students' Placement Office, IIT Kanpur. Every year the placement team was composed of almost all new students with 1 or 2 common persons, which meant "Knowledge Transfer" between batches were important. The methods adopted were</p>

<ol>
<li>Google docs</li>
<li>Reading mail archives</li>
<li>Contacting last year's team.</li>
</ol>

<p>Clearly a better solution was needed. Trackr was thus born. </p>

<h2 id="models">Models</h2>

<p><code>User</code> are the user that will be allowed access to the site contains</p>

<ul>
<li><code>Username/Password/Salt</code> in typical RoR fashion</li>
<li><code>Name</code> </li>
<li><code>Email</code> currently restricted to @iitk.ac.in</li>
<li><code>Userlevel</code> - A number with 0 being admin and in general lower number indicates higher authrority. </li>
</ul>

<pre><code>In future we plan to have a authorization module which will be roughly associate a `number` of the model of chmod in linux to the entries. Where authorization has values from 
    + 0 - Not visible
    + 1 - Read
    + 2 - Edit subject to Authorization
    + 4 - Edit without Authorization
    + 8 - Authorize edits
</code></pre>

<ul>
<li><code>Phone Number</code> - Stores user phone number</li>
<li><p><code>Identifier</code> - Used to store unique identifier for the user, which is roll number in our case. </p></li>
<li><p>HasMany:<code>tags</code>- Tags are generalizations for making groups of people and users </p></li>
</ul>

<p><code>Company</code> for the companies tracked which has </p>

<ul>
<li><code>Name</code></li>
<li><code>Link</code></li>
<li><code>Phone number</code></li>
<li><code>Location</code></li>
<li><code>Address</code></li>
<li><code>Point of Contact</code> - User_id of the person assigned to the company</li>
<li><code>Managed by</code> - User_id of the person managing it. </li>
<li><code>Status</code> - Which stage it has reached, identified by code numbers</li>
<li><code>Summary</code>- The total summary of the company till now</li>
</ul>

<ul>
<li>HasMany: <code>tags</code></li>
<li>HasMany: <code>Company_log</code></li>
<li>HasMany: <code>Company_contacts</code></li>
</ul>

<p><code>Company_log</code> - Contains the content of the company log interaction </p>

<ul>
<li><code>Contacted by</code></li>
<li><code>Company-contact</code></li>
<li><code>Time Stamp</code></li>
<li><code>Tone</code> - Very positive to very negative</li>
<li><code>Content</code> - What was the conversation that happened</li>
</ul>

<p><code>Company_contact</code> - Has the details of the company persons </p>

<ul>
<li><code>Name</code> </li>
<li><code>Designation</code></li>
<li><code>Landline</code></li>
<li><code>Mobile phone</code></li>
<li><code>Email Id</code></li>
<li><code>Address</code></li>
</ul>

<p><code>Tags</code> is a special kind of model I still haven't decided the method to implement since it is used BOTH for companies and users and we need the function to find the users who have the same tags as companies</p>

<ul>
<li><code>Tag Name</code></li>
<li><code>Tag Description</code></li>
<li><code>company_id</code></li>
<li><code>user_id</code></li>
<li><code>Company/User</code></li>
</ul>
