<% provide(:title,'Contact') %>
<div class="container">
  <div class="span6 offset3">
      <h2>Contact Me</h2>
      <address>
      <strong>Abhimanyu M A</strong><br>
      I 307, Hall 7<br/>
      IIT Kanpur<br />
      <abbr title="Phone">P:</abbr> +91 8960 43 66 93<br/>
      <abbr title="E-mail">@:</abbr><a href="mailto:abhi+trackr@manyu.in">abhi+trackr@manyu.in</a><br/>
      </address>
      
     
    </div> 
  </div><!-- /container -->