<% provide(:title,'Home') %>
<div class="container">
  <div class="hero-unit">
    <h1>Trackr <small>&gt; Google Docs + Spreadsheet</small></h1>
    <p> A better solution to tracking company relations than using myriad Google docs and spreadsheets, never shall you miss a single company task
    <p>

    <a class="btn btn-primary btn-large">
    Login
    </a>
    </p>
  </div>
</div> <!-- /container -->