// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.middle-align {
    display: inline-block !important;
    vertical-align: middle !important;
}

.logentry {
    display: block;
    border-top: 1px solid #e8e8e8;
  }

.content {
  //display: block;
  font-size:larger;
}
.timestamp {
  color: #888888;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
