// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.middle-align {
    display: inline-block !important;
    vertical-align: middle !important;
}

.logs {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    border:2px solid #d6d6d6;
  }
}
.content {
  display: block;
  font-size:larger;
}
.timestamp {
  color: #888888;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
