<hr />
<div class="container-fluid">
<nav class="navbar">
 
    Deployed by Students' Placement Office IIT Kanpur, Powered by Trackr from <a href="http://manyu.in">manyu.in</a>
 
  <div class="pull-right">
  <%= link_to "About",   about_path %> | 
  <%= link_to "Contact", contactus_path %>
  </div>
</nav>
</div>