<div class="container">
<nav class="navbar">
 
    Deployed by Students' Placement Office IIT Kanpur, Powered by Trackr from <a href="http://manyu.in">manyu.in</a>
 
  <div class="pull-right">
  <%= link_to "About",   '#' %> | 
      <%= link_to "Contact", '#' %>
  </div>
</nav>
</div>