<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
          
            <nav>
                <a class="brand" href="#">Trackr</a>
                <ul class="nav pull-right">
                    <li><%= link_to "About","#" %></li>
                    <li><%= link_to "Logged in as Admin","#" %></li>
                </ul>
            </nav>
        </div>
    </div>
</header>