<% provide(:user,'None') %>
<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
          
            <nav>
                <a class="brand" href="/">Trackr</a>
                <ul class="nav pull-right">
                    <li><%= link_to "About",about_path %></li>
                    <li><%= link_to "Logged in as " +  yield(:user) ,signin_path %></li>
                </ul>
            </nav>
        </div>
    </div>
</header>